{% load static %}


<div id="carouselTop" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselTop" data-slide-to="0" class="active"></li>
        <li data-target="#carouselTop" data-slide-to="1"></li>
        <li data-target="#carouselTop" data-slide-to="2"></li>
    </ol>
  <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
          <img class="d-block w-100 img-fluid" src="{% static 'img/carousel/1.png' %}" alt="0">
          <div class="carousel-caption d-none d-md-block">
              <h2 class="text-white font-weight-bold">Strona w budowie</h2>
              <p class="text-white font-weight-light">Tu będzie reklama lub treść</p>
          </div>
      </div>
      <div class="carousel-item">
          <img class="d-block img-fluid" src="{% static 'img/carousel/2.png' %}" alt="1">
          <div class="carousel-caption d-none d-md-block">
              <h2 class="text-white font-weight-bold">Strona w budowie</h2>
              <p class="text-white font-weight-light">Tu będzie reklama lub treść</p>
          </div>
      </div>
      <div class="carousel-item">
          <img class="d-block img-fluid" src="{% static 'img/carousel/3.png' %}" alt="2">
          <div class="carousel-caption d-none d-md-block">
              <h2 class="text-white font-weight-bold">Strona w budowie</h2>
              <p class="text-white font-weight-light">Tu będzie reklama lub treść</p>
          </div>
      </div>
  </div>
  <a class="carousel-control-prev" href="#carouselTop" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"><i class="fas fa-angle-left"></i></span>
  </a>
  <a class="carousel-control-next" href="#carouselTop" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"><i class="fas fa-angle-right"></i></span>
  </a>
</div>
