{% load static %}


<div id="carouselBottom" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">

    <div class="carousel-item car_bottom">
        <img class="d-block w-100 img-fluid" src="{% static 'img/carousel_bottom/girl2.jpg' %}" alt="1">
    </div>

    <div class="carousel-item car_bottom">
        <img class="d-block w-100 img-fluid" src="{% static 'img/carousel_bottom/girl3.jpeg' %}" alt="2">
    </div>

    <div class="carousel-item car_bottom">
        <img class="d-block w-100 img-fluid" src="{% static 'img/carousel_bottom/girl4.jpg' %}" alt="3">
    </div>

    <div class="carousel-item car_bottom">
        <img class="d-block w-100 img-fluid" src="{% static 'img/carousel_bottom/girl_.jpg' %}" alt="4">
    </div>

  </div>

</div>
