<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#17a2b8",
      "text": "#ffffff"
    }
  },
  "theme": "edgeless",
  "content": {
    "message": "Ta strona używa ciasteczek (cookies), dzięki którym może działać lepiej.",
    "dismiss": "Ok!",
    "link": "Dowiedz się więcej",
    "href": "https://naklisze.pl/cookies"
  }
})});
</script>