{% load static %}

{% url 'regulations' as regulations_url %}
{% url 'about' as about_url %}

<!--Footer-->
<footer class="page-footer bg-light center-on-small-only mdb-color py-0 my-0" style="">

    <!--Footer Links-->
    <div class="container-fluid pt-2">
        <div class="row">

            <!--First column-->
            <div class="col ml-lg-5 d-none d-md-block">
                <img style="max-width:60%; min-width:150px;" src="{% static 'img/logs.png' %}" class="img-fluid" />
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col pt-lg-5 mr-lg-auto">
                <h5 class="title mb-lg-4 font-bold d-none d-sm-block">Info</h5>
                    <p><a class="text-secondary" style="text-decoration: none;" href="{{ regulations_url }}">Regulamin</a></p>
                    <p><a class="text-secondary" style="text-decoration: none;" href="{{ about_url }}#shipping_info">Wysyłka</a></p>
                    <p><a class="text-secondary" style="text-decoration: none;" href="{{ about_url }}#cameras_info">Jakość produktów</a></p>
            </div>
            <!--/.Second column-->

            <!--Second column-->
            <div class="col pt-lg-5 mr-lg-auto">
                <h5 class="title mb-lg-4 font-bold d-none d-sm-block">Polecamy</h5>
                    <p><a class="text-secondary" style="text-decoration: none;" href="#!">AFA</a></p>
                    <p><a class="text-secondary" style="text-decoration: none;" href="#!">Coś innego</a></p>
                    <p><a class="text-secondary" style="text-decoration: none;" href="#!">Fajne rzeczy</a></p>
            </div>
            <!--/.Second column-->

            <!--Fourth column-->

                <div class="col pt-lg-5 text-center">
                    <h5 class="title mb-lg-4 font-bold d-none d-sm-block">Obserwuj nas</h5>
                    <!--Social buttons-->
                    <div class="social-section mt-2 ">

                        <a href="#" class="text-secondary mx-2" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
                        <a href="#" class="text-secondary mx-2" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                        <a href="https://biczysko.naklisze.pl" class="text-secondary mx-2" target="_blank"><i class="fa fa-camera fa-2x" aria-hidden="true"></i></a>

                    </div>

                <div class="social-section mt-3">
                    <a class="text-secondary" style="text-decoration: none;" href="mailto:naklisze@gmail.com"><i class="far fa-envelope fa-2x"></i><span class=" d-none d-md-block">naklisze@gmail.com</span></a>
                </div>
                </div>

            <!--/.Fourth column-->
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid text-center">
            <p class="text-muted">© 2018 Copyright: naklisze.pl</p>
        </div>
    </div>
    <!--/.Copyright-->
    </div>

</footer>
<!--/.Footer-->
