{% load static %}

{% url 'products:list' 'range' as range_list_url %}
{% url 'products:list' 'compact' as compact_list_url %}
{% url 'products:list' 'half' as half_list_url %}
{% url 'products:list' 'medium' as medium_list_url %}
{% url 'products:multiple_list' 'straps' as straps_list_url %}
{% url 'products:multiple_list' 'buttons' as buttons_list_url %}
{% url 'products:offer' as offer_url %}

{% url 'home_page' as home_url %}
{% url 'about' as about_url %}
{% url 'accounts:login' as login_url %}
{% url 'accounts:register' as register_url %}
{% url 'accounts:logout' as logout_url %}
{% url 'accounts:settings' as settings_url %}
{% url 'carts:home' as cart_url %}
{% url 'search:query' as search_url %}

{% url 'analytics:panel' as panel_url %}


<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light" style="padding-top: 15px; padding-bottom: 15px;">
    <div class="container-fluid">

        <a class="navbar-brand mx-lg-5" href="{{ home_url }}"><img style="max-height:60px;" src="{% static 'img/logs_n.png' %}" class="img"/></a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navCollapseLinks" aria-controls="navCollapseLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


            <div class="collapse navbar-collapse" id="navCollapseLinks">

                <ul class="navbar-nav navbar-left">


                <li class="nav-item {% if request.path == about_url %} active {% endif %}">
                    <a class="nav-link" style="white-space: nowrap" href="{{ about_url }}">O nas</a>
                </li>
                    <li role="separator" class="dropdown-divider"></li>

                <!-- Dropdown -->
                <li class="nav-item dropdown {% if request.path == prod_list_url %} active {% endif %}">
                    <a class="nav-link dropdown-toggle" style="white-space: nowrap" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Oferta</a>

                    <div class="dropdown-menu mx-auto"  aria-labelledby="dropdownMenuLink">

                        <div class="nav-item {% if request.path == prod_list_url %} active {% endif %}">
                            <a class="nav-link pl-2" href="{{ offer_url }}">Wprowadzenie</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link pl-2" href="{{ range_list_url }}">Dalmierze</a>
                            <a class="nav-link pl-2" href="{{ compact_list_url }}">Kompakty</a>
                            <a class="nav-link pl-2" href="{{ half_list_url }}">Połówkowe</a>
                            <a class="nav-link pl-2" href="{{ medium_list_url }}">Średni format</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link pl-2" href="{{ straps_list_url }}">Paski</a>
                            <a class="nav-link pl-2" href="{{ buttons_list_url }}">Przyciski spustu</a>
                        </div>

                    </div>
                </li>

                    <li role="separator" class="dropdown-divider"></li>

                <li>
                    <div class="nav-item mx-2">
                        <a class="nav-link" style="white-space: nowrap" href="{{ search_url }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                </li>

                </ul>



                <ul class="navbar-nav ml-auto">

                    <li role="separator" class="dropdown-divider"></li>

                <li>
                    <div class="nav-item {% if request.path == cart_url %} active {% endif %} ">
                        <a class="nav-link" style="white-space: nowrap" href="{{ cart_url }}"><i class="fas fa-shopping-cart"></i>
                            ({% if request.session.cart_items_count %}{{ request.session.cart_items_count }}{% else %}0{% endif %})
                        </a>
                    </div>
                </li>

                     <li role="separator" class="dropdown-divider"></li>

                <li class="nav-item dropdown {% if request.path == login_url or request.path == register_url%} active {% endif %}">
                    <a class="nav-link dropdown-toggle mr-lg-5" style="white-space: nowrap" href="#" id="navbaruserdrop" data-toggle="dropdown"><i class="fas fa-user"></i>
                    {% if request.user.is_authenticated %}    {{ request.user }}{% else %}     Konto{% endif %}
                    </a>


                        <div class="dropdown-menu mx-auto dropdown-menu-right">

                            {% if not request.user.is_authenticated %}
                                <div class="nav-item {% if request.path == login_url %} active {% endif %}">
                                    <a class="nav-link pl-2" href="{{ login_url }}"><i class="fas fa-user-circle mr-2"></i>Zaloguj</a>
                                </div>
                            {% endif %}

                                <div class="nav-item {% if request.path == register_url %} active {% endif %}">
                                    <a class="nav-link pl-2" href="{{ register_url }}"><i class="fas fa-user-plus mr-2"></i>Utwórz konto</a>
                                </div>

                                <div class="nav-item">
                                    <a class="nav-link pl-2" href="{{ settings_url }}"><i class="fas fa-cog mr-2"></i>Ustawienia</a>
                                </div>

                            {% if request.user.is_authenticated or request.session.guest_email_id %}
                            <div class="dropdown-divider"></div>
                                <div class="nav-item">
                                    <a class="nav-link pl-2" href="{{ logout_url }}"><i class="fas fa-user-secret mr-2"></i>Wyloguj</a>
                                </div>
                            {% endif%}

                            {% if request.user.is_staff %}
                                <div class="dropdown-divider"></div>
                                <a class="nav-link pl-2" href="{{ panel_url }}"><i class="fas fa-chart-line mr-2"></i>Panel</a>
                            {% endif %}

                        </div>
                </li>

            </ul>

            </div>

    </div>
</nav>

