
{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container my-5 py-5">
    <div class="row">
        <div class="col text-center">
            <h1>Coś poszło nie tak :(</h1>
            <p>Pracujemy nad naprawą.</p>
        </div>

    </div>
</div>

{% endblock %}

