
{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container my-5 py-5">
    <div class="row">
        <div class="col text-center">
            <h1>Nie masz tutaj dostępu</h1>
            <p>Błąd 403</p>
        </div>

    </div>
</div>

{% endblock %}

