
{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container pt-5">
    <div class="row">
        <div class="col">
            <ul class="list-inline text-center">
                <li class="list-inline-item text-secondary"><a style="color: grey" href="#about_us">O nas</a></li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary"><a style="color: grey" href="#cameras_info">Nasze aparaty</a></li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary"><a style="color: grey" href="#shipping_info">Warunki wysyłki</a></li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary"><a style="color: grey" href="#contact_form">Kontakt</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container my-5" id="about_us">
    <div class="text-center text-secondary">
        <p class="text-info text-center text-nowrap"><i class="fas fa-film fa-5x mx-3 my-3"></i></p>
        <h3>O nas</h3><hr>
    </div>

    <div class="row my-5">
        <div class="column">
            <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
        </div>
    </div>
</div>

<div class="container my-5" id="cameras_info">
    <div class="text-center text-secondary">
         <p class="text-info text-center text-nowrap"><i class="fas fa-camera-retro fa-5x mx-3 my-3"></i></p>
        <h3>Nasze aparaty</h3><hr>
    </div>

    <div class="row my-5">
        <div class="column">
            <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col text-center text-dark">
            <h4 class="text-secondary">Skala stanu technicznego/wizualnego aparatów</h4>
            <p class="text-justify text-dark mt-3">Poniższa skala jest to umowny opis wizualnego jak i techniczego stanu zachowania oferowanego przez nas sprzętu.
            Staramy się aby ta ocena była szczera i w jak najlepszy sposób oddawała rzeczywistą kondycję aparatów.
            </p>
            <p>1-3  : CHAŁA Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum.</p>
            <p>4-6  : SKAŁA Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum.</p>
            <p>7-8  : DĄB Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum.</p>
            <p>9-10 : MAGMA Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum.</p>
        </div>
    </div>
</div>

<div class="container my-5" id="shipping_info">
    <div class="text-center text-secondary">
        <p class="text-info text-center text-nowrap"><i class="fas fa-fighter-jet fa-5x mx-3 my-3"></i></p>
        <h3>Warunki wysyłki</h3><hr>
    </div>

    <div class="row my-5">
        <div class="column">
            <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
        </div>
    </div>
</div>


<div class="container-fluid bg-secondary pt-5 mt-5" id="contact_form">
{% include "contact/view.html" %}
</div>

{% endblock %}

