{% load static %}

<!doctype html>
<html lang="en">
{% include "base/cookies.html" %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% include "base/css.html" %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    <title>naklisze.pl</title>
  </head>

  <body style="overflow-x:hidden;">

    {% include "base/js.html" %}

    {% include "base/navbar.html" %}

    {% include "base/msg_bar.html" %}

    {% block content %}{% endblock %}

    {% include "base/footer.html" %}

  </body>

</html>

