{% extends "base.html" %}

{% load static %}

{% block content %}

{% url 'products:offer' as offer_url %}

    <div class="container my-5">

        <div class="container my-4">
            <div class="row my-2">
                <div class="col">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item text-secondary"><a style="color: grey" href="#promo_products">W promocji</a></li>
                        <li class="list-inline-item text-secondary">&bull;</li>
                        <li class="list-inline-item text-secondary"><a style="color: grey" href="#featured_products">Polecamy</a></li>
                        <li class="list-inline-item text-secondary">&bull;</li>
                        <li class="list-inline-item text-secondary"><a style="color: grey" href="#new_products">Nowości</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            {% if newsletter_visible %}
                <div class="col-lg-8">
            {% else %}
                 <div class="col-lg-12">
            {% endif %}
                <div class="jumbotron" style="background: url({% static 'img/girl.jpg' %}) no-repeat center center fixed; background-size: cover;">
                    {% if request.user.is_authenticated %}
                    <h1 class="display-4">Witaj {{ username }}!</h1>
                    {% else %}
                    <h1 class="display-4">Witaj!</h1>
                    {% endif %}
                    <p class="lead my-5">Duży wybór odrestaurowanych aparatów analogowych.</p>
                    <hr class="mt-5">
                    <p>Zapraszamy do zapoznania się z ofertą</p>
                    <p class="lead">
                        <a class="btn btn-default btn-outline-info text-dark btn-lg mt-2" href="{{ offer_url }}" role="button">Kliknij!</a>
                    </p>
                </div>
            </div>

            {% if newsletter_visible %}

            <div class="col-lg-4 text-center">
                <div class="jumbotron" style="background: url({% static 'img/girl.jpg' %}) no-repeat center center fixed; background-size: cover;">
                    <div class="container">
                        <h1 class="display-4 text-white">Bądź na bieżąco!</h1>
                        <p class="lead text-white my-3">Dołącz do naszego Newslettera</p>
                        <p class="my-3">{% include "marketing/subscribe.html" %}</p>
                      </div>
                </div>
            </div>

            {% endif %}

        </div>

    </div>

    {% if promo_products %}
    <div class="container mt-5 mx-auto" id="promo_products">
        <div class="row">
            <div class="col text-center text-secondary">
                <h3>Aktualnie w promocji</h3><hr>
                {% include "products/rows_list.html" with object_list=promo_products|slice:":3" cart=cart description='True' %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if featured_products %}
    <div class="container-fluid pt-5 mx-auto bg-light" id="featured_products">
        <div class="container bg-light mx-auto">
            <div class="row">
                <div class="col text-center text-secondary">
                    <h3>Polecamy:</h3><hr>
                    {% include "products/rows_list.html" with object_list=featured_products|slice:":3" cart=cart description='True' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if new_products %}
     <div class="container my-5 mx-auto" id="new_products">
        <div class="row">
            <div class="col text-center text-secondary">
                <h3>Najnowsze aparaty w ofercie</h3><hr>
                {% include "products/rows_list.html" with object_list=new_products|slice:":6" cart=cart %}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}

