{% extends "base_prod.html" %}
{% load static %}

{% block content %}

<div class="container my-5">
<div class="row mx-auto">
        <div class="col mx-auto">
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Nr zamówienia</th>
                            <th scope="col">Data</th>
                          <th scope="col">Status</th>
                            <th scope="col">User</th>
                            <th scope="col">Koszt</th>
                        </tr>
                    </thead>
                    <tbody>
                          {% for order in orders %}
                          {% include "accounts/settings_snippets/order_modal.html" with modal_id="order{{ order.id }}" order=order bought_products=order.cart.products.all %}
                            <tr>
                                <th scope="row">
                                  <button class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#order{{ order.id }}">{{ order.order_id }}</button>
                                </th>

                                <td>{{ order.timestamp|date:'Y-m-d' }}</td>
                                <td>{{ order.get_status_display }}</td>
                                <td>{{ order.billing_profile }}</td>
                                 <td>{{ order.total }} zł</td>
                            </tr>
                          {% endfor %}
                             <tr>
                                  <td colspan="3"></td>
                                  <td><h5 class="">Przychód</h5></td>
                                  <td><h5 class=""> {{ income }} zł</h5></td>
                                  <td></td>
                            </tr>

                    </tbody>
                </table>
            </div>
    </div>
</div>


{% endblock %}