{% extends "base.html" %}
{% block content %}
<div class="container my-5 py-5">
<div class='row '>
    <div class='col-8 mx-auto'>
    <h1 class="text-secondary pb-3">Zmień hasło</h1>
        <form method='post' action=''>{% csrf_token %}
           {{ form.as_p }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-block btn-info'>Save</button>
        </form>
      </div>
</div>
</div>
{% endblock %}
