{% extends "base.html" %}
{% block content %}

<div class="container my-5 py-5">
<div class='row'>
    <div class='col-8 mx-auto'>
        <h1 class="text-secondary mb-4">Zresetuj swoje hasło</h1>
        <p class="text-secondary my-3">Wprowadź adres e-mail dla którego dokonałeś rejestracji konta:</p>
            <form method='post' action=''>{% csrf_token %}
                {{ form.as_p }}
                <span style='margin-bottom: 12px;'></span>
                <button type="submit" class='btn btn-block btn-info my-2'>Reset</button>
            </form>
      </div>
</div>
</div>
{% endblock %}
