{% extends "base.html" %}
{% block content %}
<div class="container my-5 py-5">
<div class='row'>
    <div class='col-8  mx-auto'>
        <h1 class="text-secondary">Podaj nowe hasło</h1>
        <form method='post' action=''>{% csrf_token %}
        {{ form.as_p }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-block btn-info'>Zatwierdź!</button>
        </form>
      </div>
</div>
</div>
{% endblock %}
