{% extends "base.html" %}
{% block content %}

<div class="container my-5 py-5">
<div class='row justify-content-center'>
    <div class="col-8 text-center py-5">
            <h1 class='my-2 py-2 text-secondary'>Hasło zostało zmienione!</h1>
      </div>
</div>
</div>
{% endblock %}
