{% extends "base.html" %}
{% block content %}

{% url 'accounts:login' as login_url %}

<div class="container my-5 py-5">
<div class='row'>
    <div class="col-12 text-center py-5">
            <h1 class='my-3 py-3 text-secondary'>Reset hasła zakończony!</h1>
            <a href='{{ login_url }}'>Zaloguj się</a>
      </div>
</div>
</div>
{% endblock %}
