{% extends "base.html" %}
{% block content %}
<div class="container my-5 py-5">
<div class='row'>
    <div class="col-12 text-center py-5">
            <h1 class='my-3 py-3 text-secondary'>Wysłano instrukcję zmiany hasła</h1>
            <p class="text-secondary">Sprawdź swój e-mail!</p>
             <p class="text-secondary">Jeśli nie znajdziesz wiadomości sprawdź folder SPAM.</p>
      </div>
</div>
</div>
{% endblock %}
