body{
    position: relative;
    height: 100%;
}

.vignette {
  box-shadow: 0 0 133px rgba(0,0,0,1) inset;
}

.img_selected img {
	opacity:0.5;
}



#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.7;
    filter: alpha(opacity = 70) !important;
    display: none;
    z-index: 100;

}

#overlayContent{
    position: fixed;
    width: 100%;
    top: 100px;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 100;
}

#contentGallery{
    margin: 0px auto;
}

#imgBig, #imgSmall{
    cursor: pointer;
}