{% extends "base_prod.html" %}

{% block content %}

    {% load static %}

    {% url 'carts:update' as update_cart_url %}
    {% url 'accounts:login' as login_url %}
    {% url 'accounts:guest_register' as guest_register_url %}
    {% url 'accounts:register' as register_url %}
    {% url 'carts:checkout_address_create' as checkout_address_create_url %}
    {% url 'carts:checkout_address_reuse' as checkout_address_reuse_url %}

    {% if not billing_profile %}

        {% include "carts/snippets/breadcrumbs.html" with page="Konto" %}

        <div class="container py-lg-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-secondary">Zaloguj się</h2>
                    {% include "snippets/form.html" with form=login_form next_url=request.build_absolute_uri button="Zaloguj" action_url=login_url login=True %}
                    <h4 class="text-info my-3"><a class="text-info font-weight-bold text-center" href="{{ register_url }}">Załóż konto</a> aby otrzymać 5% rabatu na każdy produkt!</h4>
                </div>
                <div class="col-md-6">
                    <h2 class="text-secondary">Kontynuuj jako gość</h2>
                    {% include "snippets/form.html" with form=guest_form next_url=request.build_absolute_uri button="Dalej" action_url=guest_register_url %}
                </div>
            </div>
        </div>

    {% else %}

        {% if not object.shipping_address or not object.billing_address %}


            {% if not object.shipping_address %}

            {% include "carts/snippets/breadcrumbs.html" with page="Adres" %}

            <div class="container my-5">
                <div class="row">
                     {% if address_qs %}
                        <div class="col-lg-6 mx-auto">
                            <h2 class="text-secondary">Wybierz adres z listy</h2>
                            {% include "addresses/snippets/reuse_address.html" with address_qs=address_qs next_url=request.build_absolute_uri action_url=checkout_address_reuse_url %}
                        </div>
                     {% endif %}
                </div>
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <h2 class="text-secondary">Adres wysyłki</h2>
                        {% include "addresses/form.html" with form=address_form next_url=request.build_absolute_uri button="Dalej" action_url=checkout_address_create_url %}
                    </div>
                </div>
            </div>

            {% elif not object.billing_address %}

                {% include "carts/snippets/breadcrumbs.html" with page="Dane" %}

                <div class="container my-5">
                    <div class="row">
                        {% if address_qs %}
                            <div class="col-lg-6 mx-auto">
                                <h2 class="text-secondary">Wybierz dane z listy</h2>
                                {% include "addresses/snippets/reuse_address.html" with address_qs=address_qs next_url=request.build_absolute_uri action_url=checkout_address_reuse_url address_type="billing" %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mx-auto">
                            <h2 class="text-secondary">Dane Kupującego</h2>
                            {% include "addresses/form.html" with form=address_form next_url=request.build_absolute_uri button="Dalej" action_url=checkout_address_create_url address_type="billing"%}
                        </div>
                    </div>
                </div>

            {% endif %}

        {% else %}

            {% include "carts/snippets/breadcrumbs.html" with page="Podsumowanie" %}

            <div class="container my-5">
                <div class="row my-5">
                    <div class="col-lg-6 text-center">
                        <h2 class="text-secondary my-5">Dane kupującego</h2>
                        {% for address_part in object.billing_address.print_address_html %}
                            &emsp;{{ address_part }}<br>
                        {% endfor %}
                        {% include "addresses/snippets/del_address.html" with action_url=request.build_absolute_uri del_address="del_billing_address" %}
                    </div>
                    <div class="col-lg-6 text-center">
                        <h2 class="text-secondary my-5">Adres wysyłki</h2>
                        {% for address_part in object.shipping_address.print_address_html %}
                            &emsp;{{ address_part }}<br>
                        {% endfor %}
                        {% include "addresses/snippets/del_address.html" with action_url=request.build_absolute_uri del_address="del_billing_address" %}
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Produkt</th>
                          <th scope="col">Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                          {% for product in basket_products %}
                            <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                                <td><p class="text-dark">{{ product.order_title }}</p></td>
                                {% if product.promo_active and product.promo_price %}
                                <td><strike>{{ product.price }}</strike>&emsp;{{ product.promo_price }} zł</td>
                                {% else %}
                                <td>{{ product.price }} zł</td>
                                {% endif %}
                            </tr>
                          {% endfor %}
                    </tbody>
                </table>

                <dl class="row my-3">
                    <dt class="col-sm-3">Koszt produktów:</dt>
                    <dd class="col-sm-9">{{ object.products_cost }} zł</dd>
                    <dt class="col-sm-3">Koszt przesyłki:</dt>
                    <dd class="col-sm-9">{{ object.shipping_cost }} zł</dd>
                    {% if object.logged_user_promo > 0 %}
                    <dt class="col-sm-3">Rabat:</dt>
                    <dd class="col-sm-9">{{ object.logged_user_promo }} %</dd>
                    {% endif %}
                    <dt class="col-sm-3 my-3"><strong>Całkowity koszt zamówienia:</strong></dt>
                    <dd class="col-sm-9 my-3 text-info"><strong>{{ object.total }} zł</strong></dd>
                </dl>
            </div>

                <div class="row my-5">
                    <div class="col centered mt-5" style="text-align:center">
                        {% include "carts/snippets/checkout_end_button.html" with next_url=request.build_absolute_uri %}
                    </div>
                </div>

        {% endif %}

    {% endif %}

{% endblock %}
