{% extends "base.html" %}

{% block content %}

    {% load static %}

    {% url 'accounts:register' as register_url %}
    {% url 'accounts:settings' as settings_url %}

            {% include "carts/snippets/breadcrumbs.html" with page="Sukces" %}

            <div class="container my-5">
                <div class="row my-5">
                    <div class="col">
                        <h2 class="text-secondary my-5">Dziękujemy,</h2>
                        <p>Zamówienie o numerze <strong>{{ success_order_id }}</strong> zostało przekazane do realizacji.</p>
                        <p>Potwierdzenie zamówienia jak i wszystkie niezbędne do realizacji informacje zostały wysłane na adres email: <strong>{{ success_user_email }}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="text-secondary my-3">Prosimy o dokonanie wpłaty zgodnie z poniższymi danymi:</h4>
                        <p>Nr konta:<strong class="mx-2">1234 2345 3456 4566 0000 4566 6660</strong></p>
                        <p>Kwota:<strong class="mx-2">{{ success_order_total }} zł</strong></p>
                        <p>Tytuł przelewu:<strong class="mx-2">{{ success_user_email }}/{{ success_order_id }}</strong></p>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col">
                        {% if request.user.is_authenticated %}
                        <a class="text-dark text-nowrap" style="text-decoration: none;" href="{{ settings_url }}">
                            Status zamówienia możesz śledzić w panelu użytkownika<i class="fas fa-cog fa-2x mx-2 text-info"></i></a>
                        {% else %}
                        <a class="text-dark text-nowrap" style="text-decoration: none;" href="{{ register_url }}">
                            Utwórz konto na adres e-mail {{ success_user_email }} aby śledzić status Twojego zamówienia<i class="fas fa-user-plus fa-2x mx-3 text-info"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>

{% endblock %}
