{% extends "base.html" %}

{% block content %}

{% load static %}

{% url 'carts:update' as update_cart_url %}
{% url 'carts:checkout' as checkout_url %}
{% url 'carts:check_availability' as check_availability_url %}


{% include "carts/snippets/breadcrumbs.html" with page="Koszyk" %}

{% if basket_products %}

    <div class="d-none d-md-block">
        <div class="container-fluid my-3 d-flex justify-content-center">
            <div class="row mx-0 px-0 justify-content-center">
                {% for product in basket_products %}
                {% include "products/snippets/card.html" with instance=product cart=cart %}<p>&nbsp</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Produkt</th>
                            <th scope="col">Cena</th>
                            <th scope="col"></th>
                            <th scope="col">Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                          {% for product in basket_products %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td><a class="text-dark" href="{{ product.get_absolute_url }}">{{ product.order_title }}</a></td>

                                {% if product.promo_active and product.promo_price %}
                                    <td><strike>{{ product.price }}</strike>&emsp;{{ product.promo_price }} zł</td>
                                {% else %}
                                    <td>{{ product.price }} zł</td>
                                {% endif %}

                                <td>
                                    {% if product.is_multiple %}
                                    {% include "products/snippets/add_another.html" with product=product %}
                                    {% endif %}
                                </td>

                                <td>
                                    {% include "products/snippets/remove_from_cart.html" with product=product cart=cart %}
                                </td>
                            </tr>
                          {% endfor %}
                            <tr>
                              <td colspan="1"></td>
                              <td><p class=""><strong>Suma</strong></p></td>
                                <td><strong>{{ total_price }} zł</strong></td>
                              <td></td>
                            </tr>

                    </tbody>
                </table>
            </div>
        </div>
        {% include "carts/snippets/checkout_start_button.html" with next_url=checkout_url %}
    </div>

{% else %}

    <div class="container my-5">
        <div class="alert alert-secondary my-5 py-5 text-center">
           <h3>Twój koszyk jest pusty! :(</h3>
        </div>
    </div>

{% endif %}

{% endblock %}
