<form method="POST" action="{% url 'marketing:subscribe' %}"> {% csrf_token %}
    {% if not user.is_authenticated %}
        <input class="form-control mb-3" type="text" name="guest_email" placeholder="e-mail" aria-label="guest_email">
    {% else %}
    <p>&nbsp</p>
    {% endif %}
    <button class="btn btn-default btn-outline-info text-white" type="submit">Zapisz się</button>
</form>
