{% load static %}

<form method="POST" action="{{ action_url }}"> {% csrf_token %}
    <input type="hidden" name="del_address" value="True" />
    <input type="hidden" name="address_id" value="{{ address_id }}" />
    <button type="submit" class="btn btn-secondary my-3">Usuń</button>
</form>
