
<!-- Modal -->
<div class="modal fade" id="order{{ order.id }}" tabindex="-1" role="dialog" aria-labelledby="orderModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Szczegóły zamówienia nr {{ order.order_id }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% for order_part in order.print_order_html %}
            &emsp;{{ order_part }}<br><br>
          {% endfor %}

          <hr>

          <p>&emsp;Zakupione produkty:</p>
          {% for product in bought_products %}

                &emsp;{{ forloop.counter }} : {{ product.order_title }} : {% if product.promo_active and product.promo_price %}{{ product.promo_price }} zł{% else %}{{ product.price }} zł{% endif %}
                <br>
          {% endfor %}

      </div>
    </div>
  </div>
</div>