{% load static %}

{% url 'password_reset' as pass_reset_url %}
{% url 'password_change' as pass_change_url %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <form method="POST" {% if action_url %} action="{{ action_url }}" {% endif %}> {% csrf_token %}
                {% if next_url %}
                    <input type="hidden" name="next_url" value="{{ next_url }}" />
                {% endif %}

                <div class="row">{{ form }} </div>
                <input type="text" class="form-control my-3" disabled="True" value="{{ request.user.email }}"/>

                <div class="row my-3">
                    <div class="btn-group mx-auto">
                        <button type="submit" class="btn btn-secondary my-1 mx-1"> Zmień dane </button>
                        <a class="btn btn-light my-1 mx-1" href="{{ pass_change_url }}" >Zmiana hasła</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>