{% load static %}

<form method="POST" action="{{ action_url }}"> {% csrf_token %}
    <input type="hidden" name="{{ del_address }}" value="{{ del_address }}" />
    <button type="submit" class="btn btn-secondary my-3">Zmień</button>
</form>
