{% extends "base_prod.html" %}

{% block content %}
{% load static %}

{% url 'carts:update' as update_cart_url %}
{% url 'products:offer' as offer_url %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item text-info"><a style="color: grey" class="fas fa-home"></a></li>
      <li class="breadcrumb-item" ><a style="color: grey" href="{{ offer_url }}">Oferta</a></li>
      <li class="breadcrumb-item text-info"><a style="color: grey" href="{{ object.get_category_url }}">{{ object.get_category_name }}</a></li>
      <li class="breadcrumb-item text-info active">{{ object.title }} / {{object.print_attr }}</li>
  </ol>
</nav>

<div class="container my-5">

    <div class="row">
        <div class="col text-center">
            <h1>{{ object.title }}</h1>
            <p class="text-secondary">Dodano {{ object.timestamp|timesince }} temu</p>
            <hr>
        </div>
    </div>

    <div class="row mt-5 text-center">

            {% if object.is_camera %}
                <div class="col-4-md col-12-sm mx-3 my-3">
                    <h5 class="text-left">Dane techniczne</h5>
                    {% for pair in object.tuple_spec_table %}
                        <h6 class="text-left">{{ pair.0 }} : {{ pair.1 }} </h6>
                    {% endfor %}
                </div>

                <div class="col-4-md col-12-sm mx-3 my-3">
                    <h5 class="text-left">W zestawie</h5>
                    {% for item in object.set_items %}
                        <h6 class="text-left">- {{ item }}</h6>
                    {% endfor %}
                </div>

            {% else %}
                <div class="col-4-md col-12-sm mx-3 my-3">
                    <h6 class="text-left">{{ object.print_attr }}</h6>
                 </div>

            {% endif %}

            {% if object.id in cart.product_list %}
                    <div class="col-4-md col-12-sm mx-3 my-3">
                        <div class="alert alert-success">
                            <strong>Dobry wybór!</strong>
                            {% if object.is_multiple %}
                            <div class="row">
                                <div class="col-3 ml-2 text-right" style="align-items:center; display:flex;">
                                    {% include "products/snippets/add_another.html" with product=object %}
                                </div>
                                <div class="col text-left">
                                    <p class="my-3">Dodaj kolejny do koszyka</p>
                                </div>
                            </div>
                            {% else %}
                                <p class="my-2">Produkt znajduje się w Twoim koszyku</p>
                            {% endif %}
                        </div>
                    </div>

            {% elif object.selled == True %}
                <div class="col-4-md col-12-sm mx-3 my-3">
                    <div class="alert alert-secondary">
                        <strong>Produkt jest już niedostępny :(</strong>&emsp;Powiadomimy Cię gdy ponownie znajdzie się w naszej ofercie
                    </div>
                </div>

            {% else %}

            <div class="col-4-md col-12-sm mx-3 my-3">
                {% if object.promo_active and object.promo_price %}
                    <a class="text-secondary mx-3" style="white-space: nowrap;"><strike>{{ object.price }} zł</strike></a>
                    <p class="text-success mx-3" style="white-space: nowrap;"><i class="fas fa-gem"></i>&emsp;{{object.promo_price }} zł</p>
                {% else %}
                    <a class="text-dark mx-3" style="white-space: nowrap;"><i class="fas fa-gem"></i>&emsp;{{object.price }} zł</a>
                {% endif %}
                {% include "products/snippets/add_to_cart.html" with product=object cart=cart type='detail' %}
            </div>

            {% endif %}

    </div>

    <hr>
    <div class="row my-5">
        <div class="col-sm-12 col-lg-6">
            <p class="text-justify">{{ object.description|linebreaks }}</p>
        </div>


        <div class="col-sm-12 col-lg-6 my-3">

            <div class="container">
            <!-- main slider carousel -->
            <div class="row text-center">
                <div class="col-md-12" id="slider">

                        <div class="col-md-12" id="carousel-bounding-box">
                            <div id="prodGallery" class="carousel slide">
                                <!-- main slider carousel items -->


                                <div class="carousel-inner">
                                    {% for image in object.all_images %}
                                        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" data-slide-number="{{ forloop.counter|add:'-1' }}">
                                            <img id="imgSmall" src="{{ image }}" class="img-responsive rounded mx-auto my-auto d-block" style="max-width:100%;">
                                        </div>
                                    {% endfor %}
                                </div>



                                <!-- main slider carousel nav controls -->
                                <a class="carousel-control-prev" href="#prodGallery" role="button" data-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="sr-only"><i class="fas fa-angle-left"></i></span>
                                  </a>
                                  <a class="carousel-control-next" href="#prodGallery" role="button" data-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="sr-only"><i class="fas fa-angle-right"></i></span>
                                 </a>
                            </div>
                        </div>

                </div>
            </div>
            <!--/main slider carousel-->

            <!-- thumb navigation carousel -->
            <div class="row text-center">
                <div class="col-md-12 hidden-sm hidden-xs my-2" id="slider-thumbs">
                    <!-- thumb navigation carousel items -->
                    <ul class="list-inline">
                        {% for image in object.all_images %}
                            <li class="list-inline-item">
                                <a id="carousel-selector-{{ forloop.counter|add:'-1' }}" class="{% if forloop.counter == 1 %}img_selected{% endif %}">
                                    <img src="{{ image }}" class="img-responsive rounded mx-auto my-auto d-block" style="max-width:100px;">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        </div>
    </div>

    {% if object.is_camera and object.all_samples %}
        <div class="row my-5">
            <div class="col-12">
                <div class="jumbotron">
                    <p>Przykładowe zdjęcia wykonane tym egzemplarzem aparatu:</p>
                        <div class="row justify-content-center">
                            {% for sample in object.all_samples %}
                            <div class="col-3 my-2">
                            <img id="imgSmall" style="max-width:100%;" src="{{ sample }}" class="img-responsive rounded mx-auto my-auto d-block" />
                            </div>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div id="overlay"></div>
<div id="overlayContent"><img id="imgBig" style="max-height: 90vh;" src="" alt=""/></div>

{% endblock %}
