{% extends "base_prod.html" %}
{% load static %}

{% block content %}

{% url 'products:offer' as offer_url %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item text-info"><a style="color: grey" class="fas fa-home"></a></li>
      <li class="breadcrumb-item"><a style="color: grey" href="{{ offer_url }}">Oferta</a></li>
      <li class="breadcrumb-item active text-info">{{ category }}</li>
  </ol>
</nav>

<div class="container my-5">

    <div class="text-center text-secondary">
        <h3>{{ category }}</h3><hr>
    </div>

    <div class="container d-inline-flex justify-content-center">
        <div class="row mx-0 px-0">
    {% include "products/rows_list.html" with object_list=object_list cart=cart description='True' %}
        </div>
    </div>

    {% if object_list.paginator.num_pages > 1 %}
        <div class="col-2 mx-auto">
            <nav aria-label="products_pagination">
                <ul class="pagination">
                    {% if object_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link text-secondary" href="?page={{ object_list.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only"><<</span>
                        </a>
                    </li>
                    {% endif %}

                    {% with ''|center:object_list.paginator.num_pages as range %}
                    {% for _ in range %}
                    <li class="page-item {% if forloop.counter == object_list.number %}active{% endif %}"><a class="page-link text-secondary"  href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endfor %}
                    {% endwith %}

                    {% if object_list.has_next %}
                    <li class="page-item">
                        <a class="page-link text-secondary" href="?page={{ object_list.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">>></span>
                         </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}

</div>



{% endblock %}