{% extends "base_prod.html" %}

{% block content %}

{% load static %}

{% url 'products:list' 'range' as range_list_url %}
{% url 'products:list' 'compact' as compact_list_url %}
{% url 'products:list' 'half' as half_list_url %}
{% url 'products:list' 'medium' as medium_list_url %}


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item text-info"><a style="color: grey" class="fas fa-home"></a></li>
      <li class="breadcrumb-item active text-info">Oferta</li>
  </ol>
</nav>

<div class="container-fluid my-lg-5 py-lg-5 my-2 py-2">
<div class="container">
    <div class="row mx-3">
        <div class="col-xs-12 col-lg-6 order-1">
            <div class="text-center my-5">
                <h3>Aparaty dalmierzowe</h3>
                <p class="text-justify my-5">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                <a class="btn btn-default btn-outline-info text-dark mt-2" href="{{ range_list_url }}" role="button">Zobacz ofertę</a>

            </div>
        </div>
        <div class="col-xs-12 col-lg-6 order-2">
            <img style="max-width:100%;" src="{% static 'img/P1120332.jpg' %}" class="img-responsive rounded mx-auto my-auto d-block" />
        </div>
    </div>
</div>
</div>

<div class="container-fluid bg-secondary my-lg-5 py-lg-5 my-2 py-2">
<div class="container bg-secondary ">
    <div class="row mx-3">
        <div class="col-xs-12 col-lg-6 order-md-2">
            <div class="text-center my-5">
                <h3>Aparaty połówkowe</h3>
                <p class="text-justify my-5">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                <a class="btn btn-default btn-outline-info text-dark mt-2" href="{{ half_list_url }}" role="button">Zobacz ofertę</a>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6 order-md-1">
            <img style="max-width:100%;" src="{% static 'img/P1120332.jpg' %}" class="rounded mx-auto my-auto d-block" />
        </div>
    </div>
</div>
</div>

<div class="container-fluid my-lg-5 py-lg-5 my-2 py-2">
<div class="container">
    <div class="row mx-3">
        <div class="col-xs-12 col-lg-6 order-1">
            <div class="text-center my-5">
                <h3>Aparaty kompaktowe</h3>
                <p class="text-justify my-5">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                <a class="btn btn-default btn-outline-info text-dark mt-2" href="{{ compact_list_url }}" role="button">Zobacz ofertę</a>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6 order-2">
            <img style="max-width:100%;" src="{% static 'img/P1120332.jpg' %}" class="rounded mx-auto my-auto d-block" />
        </div>
    </div>
</div>
</div>

<div class="container-fluid bg-secondary my-lg-5 py-lg-5 my-2 py-2">
<div class="container bg-secondary ">
    <div class="row mx-3">
        <div class="col-xs-12 col-lg-6 order-md-2">
            <div class="text-center my-5">
                <h3>Aparaty Średnioformatowe</h3>
                <p class="text-justify my-5">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                <a class="btn btn-default btn-outline-info text-dark mt-2" href="{{ medium_list_url }}" role="button">Zobacz ofertę</a>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6 order-md-1">
            <img style="max-width:100%;" src="{% static 'img/P1120332.jpg' %}" class="rounded mx-auto my-auto d-block" />
        </div>
    </div>
</div>
</div>

{% endblock %}