
<div class="container my-5">
    <div class="row">
        {% for obj in object_list %}
            <div class="col">
                {% include "products/snippets/card.html" with instance=obj cart=cart description=description %}
                {% if forloop.counter|divisibleby:3 %}
                    </div></div><!--close row and col, switch to next row-->
                    <div class="row">
                    <div class="col-12 mx-auto"><hr/></div>
                {% else %}
                    </div>
                {% endif %}
        {% endfor %}
    </div>
</div>

