{% extends "base.html" %}

{% block content %}

<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary">{{ title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            {% include "snippets/form.html" with form=form button=button login=login %}
        </div>
    </div>
</div>

{% endblock %}


