

<div class="text-center text-dark">
    <h3>Napisz do nas</h3>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 col-lg-12">
            <form method="post"> {% csrf_token %}
                {{ form }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-dark my-3">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</div>
