{% load static %}
{% url 'password_reset' as pass_reset_url %}

<div class="jumbotron" style="background: url({% static 'img/girl.jpg' %}) no-repeat center center fixed; background-size: cover;">
    <form method="POST" {% if action_url %} action="{{ action_url }}" {% endif %}> {% csrf_token %}
        {% if next_url %}
            <input type="hidden" name="next_url" value="{{ next_url }}" />
        {% endif %}

        <div class="row">{{ form }} </div>

        <div class="row">
            <button type="submit" class="btn btn-secondary my-3">{{ button }}</button>
            {% if login %}
                <p class="text-secondary mx-4 mt-4"><a href="{{ pass_reset_url }}">Zapomniałeś hasła?</a></p>
            {% endif %}
        </div>

    </form>
</div>
