<div class="container my-5">
    <div class="row my-2">
        <div class="col">
            <ul class="list-inline text-center">

                {% if page == "Koszyk" %}

                <li class="list-inline-item text-info"><strong>Koszyk</strong></li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Konto</li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Adres</li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Dane</li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Podsumowanie</li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Sukces</li>

                {% elif page == "Konto" %}

                <li class="list-inline-item text-info">Koszyk</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info"><strong>Konto</strong></li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Adres</li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Dane</li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Podsumowanie</li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Sukces</li>

                {% elif page == "Adres" %}


                <li class="list-inline-item text-info">Koszyk</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info">Konto</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info"><strong>Adres</strong></li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Dane</li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Podsumowanie</li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Sukces</li>

                {% elif page == "Dane" %}

                <li class="list-inline-item text-info">Koszyk</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info">Konto</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info">Adres</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info"><strong>Dane</strong></li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Podsumowanie</li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Sukces</li>

                {% elif page == "Podsumowanie" %}

                <li class="list-inline-item text-info">Koszyk</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info">Konto</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info">Adres</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info">Dane</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info"><strong>Podsumowanie</strong></li>
                <li class="list-inline-item text-secondary">&bull;</li>
                <li class="list-inline-item text-secondary">Sukces</li>

                {% elif page == "Sukces" %}

                <li class="list-inline-item text-info">Koszyk</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info">Konto</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info">Adres</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info">Dane</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info">Podsumowanie</li>
                <li class="list-inline-item text-info">&bull;</li>
                <li class="list-inline-item text-info"><strong>Sukces</strong></li>

                {% endif %}

            </ul>
        </div>
    </div>
</div>


