{% load static %}
{% url 'regulations' as regulations_url %}
{% url 'carts:check_availability' as check_availability_url %}

<form method="POST" action="{{ check_availability_url }}"> {% csrf_token %}
    {% if next_url %}
        <input type="hidden" name="next_url" value="{{ next_url }}" />
    {% endif %}

    <input type="hidden" name="make_checkout" value="True" />

    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-outline-info my-4" type="submit"><i class="fas fa-handshake fa-3x my-3 mx-3"></i><h4>Zrealizuj zamówienie</h4></button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="checkbox" required id="accept"><label for="accept"><p class="text-secondary">
                &emsp;Akceptuję <a href="{{ regulations_url }}" target="_blank">regulamin</a> sklepu wraz z obowiązkiem zapłaty za zamówienie</p></label>
            </div>
        </div>
    </div>
</form>
