{% load static %}
{% url 'carts:check_availability' as check_availability_url %}

<form method="POST"  action="{{ check_availability_url }}"> {% csrf_token %}
    {% if next_url %}
        <input type="hidden" name="next_url" value="{{ next_url }}" />
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col centered mt-5" style="text-align:center">
                <button class="btn btn-outline-info my-4" type="submit"><i class="fas fa-credit-card fa-3x mx-5 my-3"></i><h4>Do kasy!</h4></button>
            </div>
        </div>
    </div>
</form>
