{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container my-5">
<div class="row mx-auto">
    <div class="col-12 col-md-6 mx-auto py-2">
        {% include "search/snippets/search_form.html" with placeholder='Nazwa produktu' %}
    </div>
    <div class="col-12">
        {% if query %}
            <div class="col-8 mr-auto pt-5"><h5>Wyniki wyszukiwania dla frazy: "<b>{{ query }}</b>"</h5></div><hr>
            {% include "products/rows_list.html" with object_list=object_list cart=cart %}
        {% else %}
            <div class="col my-3 text-center text-secondary"><h3>Polecamy:</h3><hr></div>
            {% include "products/rows_list.html" with object_list=object_list|slice:":3" cart=cart %}
        {% endif %}
    </div>
</div>
</div>

{% endblock %}