<form class="form" method="POST" action="{% url 'carts:update' %}" > {% csrf_token %}
    <input type="hidden" name="product" value="{{ product.id }}"/>

    {% if type == 'detail' %}
    <button type="submit" class="btn btn-info">Dodaj do koszyka</button>
    {% elif type == 'card' %}
    <button type="submit" class="btn btn-link bg-white text-info mx-0" style="white-space: nowrap; text-decoration: none;"><i class="fas fa-shopping-basket"></i> Kupuję</button>
    {% endif %}
</form>
