<!--Card Regular-->
<div class="card card-cascade my-2"  style="width: 18rem; height: {% if description %}43rem;{% else %}24rem;{% endif %} box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.05);">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
         <a href="{{ instance.get_absolute_url }}">
            <img src="{{ instance.title_image }}"
                 style="max-height: 200px; {% if instance.selled == True %} opacity: 0.15; {% endif %}"
                 class="img-fluid" alt="">
            <div class="mask"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h5 class="card-title text-dark">{{ instance.title }}</h5>

        {% if instance.is_camera %}

            <h6 class="text-left">Lata produkcji: {{ instance.production_date }}</h6>
            <h6 class="text-left">Stan: {{ instance.quality }}</h6>

        {% else %}

            <h6 class="text-left">{{ instance.print_attr }}</h6>

        {% endif %}


        {% if description %}
            <div class="description mb-2">
                <p class="card-text">{{ instance.description|linebreaks|truncatewords:100 }}</p>
            </div>
        {% endif %}
        
        <div class="container mt-2 pt-2">
            <div class="row">

                {% if instance.selled == True %}

                    <div class="col-12 my-auto">
                        <a class="text-danger"><i class="fas fa-ban"></i>   Sprzedany</a>
                    </div>

                {% else %}

                    <div class="col-6 my-auto">
                        {% if instance.promo_active and instance.promo_price %}
                            <a class="text-secondary" style="white-space: nowrap;"><strike>  {{ instance.price }} zł</strike></a>
                            <p class="text-success" style="white-space: nowrap;"><i class="fas fa-gem"></i>  {{ instance.promo_price }} zł</p>
                        {% else %}
                            <a class="text-dark" style="white-space: nowrap;"><i class="fas fa-gem"></i>  {{ instance.price }} zł</a>
                        {% endif %}
                    </div>
                    <div class="col-6 my-auto">
                        {% if instance.id in cart.product_list %}
                            <a class="text-success"><i class="fas fa-thumbs-up"></i></a>
                        {% else %}
                            {% include "products/snippets/add_to_cart.html" with product=instance cart=cart type='card' %}
                        {% endif %}
                    </div>

                {% endif %}
            </div>
        </div>
    </div>

    <!--/.Card content-->
</div>
<!--/.Card Regular-->

