<form class="form" method="POST" action="{% url 'carts:update' %}"> {% csrf_token %}
    <input type="hidden" name="product" value="{{ product.id }}"/>
    <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a></button>
</form>
